* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #727272;
}
nav .active a,
nav a:hover {
  background-color: #39aae1;
  color: white;
}

#banner {
  display: flex;
  justify-content: center;
  background-image: url(../images/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 670px;
}

.column {
  flex-direction: column;
}
.banner-headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.banner-headline h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
}
.banner-headline h2 {
  color: white;
  font-size: 21px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
  margin-top: 30px;
}

.banner-options {
  height: 210px;
  display: flex;
}
.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: white;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}
.banner2 {
  background-color: #0079c7;
}
.banner3 {
  background-color: #2b4c99;
}

.banner-title {
  font-size: 21px;
}
.banner-desc {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner-options a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}

.banner-hours {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.banner-day {
  display: flex;
  padding: 10px 0px;
  border-bottom: 1px solid white;
  justify-content: space-between;
}

#geral {
  display: flex;
  justify-content: center;
}
#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widget-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.widget-title-text {
  color: #000;
  font-size: 21px;
  font-weight: bold;
}

.widget-title-bar {
  width: 50px;
  height: 2px;
  background-color: #36a9e1;
  margin-top: 10px;
}

.widget div {
    margin-top: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

.widget-retangle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 330px;
}

.widget-retangle div {
  height: 150px;
  width: 150px;
  background-color: #1793d1;
  margin-bottom: 20px;
  margin-top: 20px;
}

.body_text {
  font-size: 13px;
  color: rgb(102 102 102);
}
.body_fone {
  color: rgb(102 102 102);
}
.phone-strong {
  color: black;
}

.widtget_number,
.body_text {
  display: flex;
  align-items: flex-start;

  margin-top: 27px;
  border-bottom: 1px solid rgb(102, 102, 102);

  padding-bottom: 7px;
}
.body_text a {
  text-decoration: none;
  border-bottom: 1px dotted rgb(102 102 102);
}
.widtget_contats {
  display: block;
  font-size: 15px;
}
.body_number,
p {
  border-bottom: 1px solid rgb(102 102 102);
}

article a {
  text-decoration: none;
}
article .news-data {
  display: flex;
}

article .news-posted-at {
  background-color: #2b4c99;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}
article .news-comments {
  background-color: #39aae1;
  color: #fff;
  font-size: 12px;
  padding: 10px;
}

.article .news-thumb {
  margin-top: 30px;
}
.news-thumb img {
  width: 100%;
  height: auto;
}

article .news-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: black;
  font-size: 23px;
}

article .news-resume {
  color: #5c5c5c;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 30px;
}

footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}
.footer-menu {
  display: flex;
}
.fm1,
.fm2,
.fm3 {
  flex: 1;
  color: #fff;
  padding: 20px;
}
.fm1 {
  background-color: #39aae1;
}
.fm2 {
  background-color: #0079c7;
}
.fm3 {
  background-color: #2b4c99;
}
.footer-area {
  display: flex;
}
.footer-area-item {
  flex: 1;
  color: #fff;
}
.flex-column {
  flex-direction: column;
}
footer .widget-title-text {
  color: #fff;
}

.footer-copy {
  border-top: 1px solid #2c2c2c;
  line-height: 40px;
  height: 40px;
  color: #5c5c5c;
  font-size: 12px;
  margin-top: 30px;
}
.footer-desc {
    color: #909090;
    font-size: 14px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  color: #909090;
  margin-top: 20px;
  padding-right: 30px;
  font-size: 14px;
}
.footer-contact-address {
  display: flex;
  justify-content: space-between;
}
.footer-contact-address a {
    color: #fff;
    text-decoration: none;
}
.footer-contact-address a:hover {
    text-decoration: underline;
}
.latest-posts-text {
    padding: 10px;
}
.latest-posts-text a {
    color: white;
    text-decoration: none;
}
.latest-posts-text a:hover {
    text-decoration: underline;
}
.latest-post-desc {
    font-size: 14px;
    margin-bottom: 10px;
}
.span-color {
    color: #36a9e1;
}

.p-tweets {
    border: none;
    color: #909090;
    margin: 0;
}










@media (max-width: 600px){
  .banner-headline{
    padding: 20px;
  }
  .banner-headline h1 {
    font-size: 55px;
  }
  .banner-headline h2 {
    font-size: 17px;
  }
  .banner-options {
    height: auto;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
}